<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <location path="CreateABooking.aspx">
      <system.web>
        <authorization>
          <deny  users="?" />
        </authorization>
      </system.web>
    </location>
  <system.web>
    <authorization>
      <allow roles="customer" />
      <deny users="*" />
    </authorization>
  </system.web>
</configuration>
